<div class="container">
  <div style= "padding-bottom: 25px;">
      <!-- <img class="item-content-box item-block " data-at="image" alt="" src="//v.fastcdn.co/t/036db551/d7cc435f/1574078077-46910695-180x73-SHE-Software-Logo2k.png"> -->
      <img class="item-content-box item-block " data-at="image" alt="" src="../assets/SHElogo.png">
  </div>
  <router-outlet></router-outlet>
  <div style="text-align: center">
    <p><span style="color: blue">2 Rankine Avenue
, East Kilbride, G75 0QF United Kingdom</span></p>
  </div>
</div>